@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham-Light.otf);
}

html,
body {
  margin: 0;
  font-family: Gotham, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(230, 205, 255);
}

.d-flex {
  display: flex;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.ms-auto {
  margin-inline-start: auto;
}

.me-3 {
  margin-inline-end: 1rem;
}

.text-end {
  text-align: end;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#slideshow {
  position: relative;
  height: 65vh;
  width: 90vw;
  margin-inline: auto;
  display: flex;
}

#slideshow img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-inline: auto;
  border-radius: 1rem;
  transition: opacity 1s ease-in-out;
}

.transparent {
  opacity: 0;
}

#player {
  margin-top: 2rem;
  margin-inline: auto;
  width: 30vw;
}

.navbar {
  height: 3rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.navbar div {
  height: 100%;
  width: auto;
  display: flex;
}

.navbar img {
  height: 100%;
  width: auto;
}

.navbar h3 {
  align-self: center;
}

.copyright-label {
  position: absolute;
  top: auto;
  right: 0;
}
