html,
body {
  margin: 0;
  padding: 0;
}

body {
  --color-background-day: rgb(253, 216, 168);
  --color-background-night: rgb(7, 14, 36);
  --color-unhovered-day: rgb(255, 236, 212);
  --color-hovered-day: rgb(207, 188, 165);
  --color-unhovered-night: rgb(24, 24, 24);
  --color-hovered-night: rgb(80, 80, 80);
  /* --color-light-grey: rgb(180, 180, 180);
  --color-medium-grey: rgb(120, 120, 120);
  --color-dark-grey: rgb(50, 50, 50); */
  --color-primary-day: rgb(65, 54, 26);
  --color-secondary-day: rgb(250, 207, 150);
  --color-tertiary-day: rgb(226, 188, 135);
  --color-primary-night: rgb(120, 120, 120);
  --color-secondary-night: rgb(20, 20, 20);
  --color-tertiary-night: rgb(180, 180, 180);

  --color-transitions: color 2s ease-in, background-color 2s ease-in,
    fill 2s ease-in, stroke 2s ease-in;

  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: var(--color-transitions);
  display: flex;
  flex-direction: column;
}

body.day {
  background-color: var(--color-background-day);
}

body.night {
  background-color: var(--color-background-night);
}

.map {
  padding: 3rem;
}

#c2-map > svg {
  padding-inline: 20vmin;
}

.trigger {
  transition: var(--color-transitions);
  transition-duration: 0s;
}

.day .trigger {
  fill: var(--color-unhovered-day);
}

.night .trigger {
  fill: var(--color-unhovered-night);
}

.trigger:hover {
  cursor: pointer;
}

.day .trigger:hover {
  fill: var(--color-hovered-day);
}

.night .trigger:hover {
  fill: var(--color-hovered-night);
}

polygon,
polyline path {
  transition: var(--color-transitions);
}

.day polygon,
.day polyline,
.day path,
.day rect,
.day line {
  stroke: var(--color-primary-day);
}

.night polygon,
.night polyline,
.night path,
.night rect,
.night line {
  stroke: var(--color-primary-night);
}

button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.day button {
  color: var(--color-primary-day);
}

.night button {
  color: var(--color-primary-night);
}

button:hover {
  cursor: pointer;
  color: var(--color-hovered-night);
}

button.time-button {
  position: fixed;
  padding-inline: 1rem;
  font-size: min(3rem, 5vmin);
  top: 0;
  right: 0;
}

#c2-map button.back-button {
  position: fixed;
  padding-inline: 1rem;
  font-size: min(5rem, 10vmin);
}

.experience-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.experience-wrapper .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.experience {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 1rem;
}

.day .experience {
  color: var(--color-primary-day);
  background-color: var(--color-secondary-day);
  border-color: var(--color-tertiary-day);
}

.night .experience {
  color: var(--color-primary-night);
  background-color: var(--color-secondary-night);
  border-color: var(--color-tertiary-night);
}

.experience > .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 1rem;
}

.experience > .header > h1 {
  margin: 0;
  font-weight: 500;
}

.experience > .header > span {
  margin-bottom: 0.5rem;
}

.experience > .header > button {
  font-size: 1.25rem;
  align-self: start;
  margin-left: auto;
}

.experience > audio {
  margin: 1rem;
}

.disclaimer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  z-index: 10;
}

.disclaimer h1 {
  margin-top: 20vh;
}

.dark {
  opacity: 0;
}

.hidden {
  display: none !important;
}

.appearing {
  animation: 1s ease-in 0s appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
