html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;
}

.map {
  padding: 3rem;
  /* height: 100%;
  width: auto; */
}

#c2-map {
  padding-inline: 20vmin;
}

.trigger:hover {
  cursor: pointer;
  fill: rgb(80, 80, 80);
}

.hidden {
  display: none;
}
