html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: black;

  --unhover-color: rgb(24, 24, 24);
  --hover-color: rgb(80, 80, 80);
}

.map {
  padding: 3rem;
}

#c2-map > svg {
  padding-inline: 20vmin;
}

.hidden {
  display: none;
}

.trigger:hover {
  cursor: pointer;
  fill: var(--hover-color);
}

.back-button {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(100, 100, 100);
}

.back-button:hover {
  cursor: pointer;
  color: var(--hover-color);
}

#c2-map .back-button {
  position: fixed;
  padding-inline: 1rem;
  font-size: min(5rem, 10vmin);
}
